.ctaButton {
    white-space: nowrap;
    background: var(--secondary-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 18px;
    border-radius: 21px;
    color: #000;
    transition: color 300ms ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .2s ease-in-out;
    transition-property: background, color;
    line-height: 1.1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ctaButton:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--forth-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(-105%);
    transition: transform .3s ease-in-out;
    transform-origin: left center;
}

.ctaButton:hover:before {
    transform: translateX(0);
}

.ctaButton>span {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    height: 1.1em;
    overflow: hidden;
}

.ctaButton>span span {
    display: block;
    stroke: #000;
    position: relative;
    z-index: 2;
    transition: .3s ease-in-out;
    transition-property: color, transform;
}

.ctaButton:hover>span span {
    transform: translateY(-100%);
    color: #fff;
}

.ctaButton svg {
    width: 18px;
    height: 18px;
    stroke: #000;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    transition: stroke .3s ease-in-out;
}

.ctaButton:hover svg {
    stroke: #fff;
    fill: #fff;
}


.devLine {
    width: 100%;
    position: absolute;
    left: 0;
    top: 32px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.devLine>svg {
    min-width: 1157px;
}

.devLine>svg path {
    stroke: #353535;
}